*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.logo-phil {
    object-fit: cover;
    width: 80px;
    mix-blend-mode:multiply;
}
.nav-link {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
