*{
    margin: 0;
    padding: 0;
}
.error {
    color: #FF0000;
}
.container {
    position: fixed;
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.login-box {
    position: relative;
    padding: 10rem;
    display: block;
    border-radius: 30px;
    width: 15rem;
    height: 5rem;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
.login-h1 {
    display: flex;
    position: absolute;
    top: 3.5rem;
    left: 15rem;
}
.login-h1 h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif Lato;
    color: black;
}
.email-input {
    position: absolute;
    top: 7.5rem;
    left: 8.5rem;
    display:flex;
    flex-direction: column;
}
[for="email"]{
    position: absolute;
    top: 30%;
    left: 15px;
    transform: translateY(-5%);
    background-color: white;
    color: black;
    padding: 0 5px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.email-input:focus-within [for="email"]{
    top: 10px;
    font-size: 16px;
}
/* text box of email */
#email {
    border: black solid 1px;
    border-radius: 30px;
    padding: 10px 10px;
    width: 300px;
    box-sizing: border-box;
    cursor: pointer;
}
#email.error {
    border: red solid 2px;
}
#email:focus {
    border: black solid 1px;
}
.password-input {
    position: absolute;
    bottom:7.1rem;
    left: 8.5rem;
    display: flex;
    flex-direction: column;
}
[for="pass"]{
    position: absolute;
    top: 30%;
    left: 15px;
    cursor: pointer;
    transform: translateX(-5%);
    background-color: white;
    color: black;
    transition: all 0.2s ease-in-out;
}
.password-input:focus-within [for="pass"]{
    top: 10px;
    font-size: 16px;
}
/* text box for password */
#pass {
    border: solid black 1px;
    padding: 10px 10px;
    width: 300px;
    border-radius: 30px;
    box-sizing: border-box;
    cursor: pointer;
}
#pass.error {
    border: red solid 2px;
}
#pass:focus {
    border: black solid 2px;
}
.forgot-box {
    position: absolute;
    bottom: 6.7rem;
    left: 8.7rem;
}
.forgot-box span {
    display: inline-block;
}
.forgot-box a {
    text-decoration: none;
}
.submit-box {
    position: absolute;
    bottom: 3.5rem;
    left: 15rem;
}