@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.body-container{
    background-image: url("img/lingaw_bg.jpg");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.head-box .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .logo-box{
    display: flex;
    position: relative;
    left: -6em;
}
.container img {
    width: 100px;
    height: 100px;
}
.container ul li a:hover {
    font-family: 'Alkatra';
    font-weight: 500;
    color: white;
    display: flex;
}
.navbar {
    position: relative;
    display: flex;
}
.navbar .nav .nav-item a:hover {
    color: white;
}
.navbar .nav .nav-item .nav-link {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    margin-left: 5px;
    margin-right: 5px;
    padding-right: 10px;
    padding-left: 10px;
}
.login-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-left: 250px;
    margin-right: 250px;
    height: 70vh;
    position: relative;
    top: 2em;
    border: 2px solid red;
}
.login-box h1 {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    top: 20px;
}