*{
    margin: 0;
    padding: 0;
}
body {
    background-image: url("img/F1Stackmind.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.header-container {
    position: fixed;
    position: sticky;
    top: 0;
    display: block;
    height: 6em;
}
.header-container .header-bx {
    padding: 10px;
    height: 4.3em;
}
.header-bx .logo-box {
    display: inline-block;
    position: absolute;
    bottom: -22px;
    cursor: pointer;
}
.logo-box #logo {
    width: 100px;
}
.header-bx .navbar-container {
    padding: 5px 10px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 110px;
    top: 25px;
}
.navbar-container .nav {
    padding: 5px;
}
.navbar-container .nav-links {
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding: 0 20px;
}
.navbar-container .nav-links:hover {
    color: pink;
}
.games-container {
    display: inline-block;
    position: absolute;
    left: 200px;
    top: 450px;
}
.games-container .games-btn {
    border: none;
    background-color: white;
    text-align: center;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
    transform: 0.2s;
}
.games-btn:hover {
    background: black;
    color: white;
    border: none;
}